 <div class="col align-self-center shadow-lg p-3 mb-5 bg-white rounded login" id="edit-form" 
       style="background-image:linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.5)), url(../images/login-bg.jpg)">

<div class="page-hero d-flex align-items-center justify-content-center" style="margin:20px">
 <h1> {{title}} </h1>
</div>


<form action="/login" method="POST">

  <div class="form-row justify-content-center">
    <div class="form-group col-md-4">
      <label for="email">Email address</label>
      <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
  </div>

  <div class="form-row justify-content-center">
    <div class="form-group col-md-4">
      <label for="password">Password</label>
      <input name="password" type="password" class="form-control" id="password" placeholder="Password"> 
    </div>
  </div>

    <div class="page-hero d-flex align-items-center justify-content-center">
    <button type="submit" class="btn  col-md-4 shadow-lg p-2 mb-9 rounded" style="background-color: #ffda08;">Login</button>
    </div>

</form>
<br>

<div class="page-hero d-flex justify-content-center">
  <p> <b>Don't have an account ?  <a href="/signup">Sign Up </b> </a></p>
</div>

<br>
<h5 style="color:magenta">
{{> flashMessage }}
</h5>
</div>