<div class="col align-self-center shadow-lg p-3 mb-5 bg-white rounded signup" id="edit-form" 
       style="background-image:linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.5)), url(../images/home-bg.JPG)">


<div class="form-row justify-content-center">
<p class="shadow-lg p-2 mb-9 bg-white rounded col-md-2 text-center" style="margin-top:20px" >Create an Account</p>
</div>

<form action="/register" method="POST">

  <div class="form-row justify-content-center">
    <div class="form-group col-md-4">
      <label for="firstName">First Name</label>
      <input name="firstName" type="text" class="form-control" id="firstName">
    </div>
  </div>

  <div class="form-row justify-content-center">  
    <div class="form-group col-md-4">
      <label for="lastName">Last Name</label>
      <input name="lastName" type="text" class="form-control" id="lastName">
    </div>
  </div>

  <div class="form-row justify-content-center">  
    <div class="form-group col-md-4">
      <label for="email">Email address</label>
      <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text ">We'll never share your email with anyone else.</small>
    </div>
  </div>

  <div class="form-row justify-content-center">  
    <div class="form-group col-md-4">
      <label for="password">Password</label>
      <input name="password" type="password" class="form-control" id="password" placeholder="Password"> 
    </div>
  </div>

  <div class="form-row justify-content-center">
  <button type="submit" class="btn  col-md-4 shadow-lg p-2 mb-9 rounded" style="background-color: #ffda08;">Sign Up</button>
  </div>

</form>
<br>

 <div class="col align-self-center text-center">
      <h4 style="color:black">
        {{> flashMessage }}
      </h4>
 </div>

</div>