<div class="form-row justify-content-center">
<p class="shadow-lg p-2 mb-9 rounded col-md-2 text-center" style="background-color: #ffda08; padding:0%; margin:20px;">Welcome to {{title}}</p>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="../images/home-bg2.JPG" class="d-block w-100" alt="...">
         <div class="carousel-caption d-none d-md-block">
          <h3>Jamón serrano</h3>
          <h5>Charcuterie Board, with Jamón Serrano & Chilli Honey!</h5>
        </div>
    </div>
    {{!-- <div class="carousel-item">
      <img src="../images/home-bg.JPG" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../images/home-bg3.JPG" class="d-block w-100" alt="...">
    </div>
  </div> --}}
</div>