<div class="form-row justify-content-center">
<p class="shadow-lg p-2 mb-9 rounded col-md-2 text-center" style="background-color: #ffda08; padding:0%; margin:20px;">Welcome to {{title}}</p>
</div>

<div class="card mb-3">
  <img src="../images/home-bg2.JPG" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>


<div class="card-group border-light">
  <div class="card">
    <img src="../images/home-bg2.JPG" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Jamón serrano</h5>
      <p class="card-text">Charcuterie Board, with Jamón Serrano & Chilli Honey...</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Check this recipe out!</small>
    </div>
  </div>
  <div class="card">
    <img src="../images/home-bg.JPG" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="../images/home-bg3.JPG" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
