<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

 <nav class="navbar fixed-top navbar-expand-lg navbar-light  shadow p-3 mb-3 rounded" style="background-color: #ffda08;">

  <a class="navbar-brand" href="/">
    <img src="../images/avocados.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Home Chef 🍖
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto justify-content-end">
      {{#if currentUser}}
      <li class="nav-item active">
        <a class="nav-link" href="/cuisine">Cuisine <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/recipe/add">Create a Recipe</a>
      </li>
      <form action="/logout" method="post" class="form-inline">
      <button type="submit" class="btn btn-sm btn-outline-secondary">Logout</button>
    </form>
      {{else}}
       <li class="nav-item active">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Login
        </a>
        <div class="dropdown-menu"  aria-labelledby="navbarDropdown" style="background-color: #ffda08;">
          <a class="dropdown-item" href="/login">Email Login</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item  navbar-brand" href="/google-login">
          <img src="../images/google-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
              Login
          </a>
          <a class="dropdown-item  navbar-brand" href="/slack-login">
          <img src="../images/slack-logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
              Login
          </a>
        </div>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>
  <br>

  {{{body}}}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
   <script type="application/javascript">
    $('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        $('.custom-file-label').html(fileName);
    });
  </script>

  <script src="/javascripts/script.js"></script>
</body>
</html>