<div class="page-hero d-flex align-items-center justify-content-center" style="margin:20px">
 <h1> Let's make something yummy  🍳</h1>
</div>

<form action="/create/recipe" method="POST" enctype="multipart/form-data">

   <div class="form-row justify-content-center">
    <div class="form-group col-md-4">
      <label for="title">Title</label>
      <input name="title" type="text" class="form-control" id="title">
    </div>
  </div>

  <div class="form-row justify-content-center">
    <div class="form-group col-md-4">
      <label for="cuisine">Cuisine Type</label>
      <input name="cuisine" type="text" class="form-control" id="cuisine">
    </div>
  </div>

  <div class="form-row justify-content-center">
    <div class="form-group col-md-4">
    <label for="difficulty">Difficulty</label>
    <select name="difficulty" class="form-control form-control" id="difficulty">
    <option>Home Chef</option>
    <option>Amateur Chef</option>
    <option>Master Chef</option>
    </select> 
    </div>
  </div>
  <br>

  <div class="form-row justify-content-center">
    <div class="form-group col-md-4">    
        <label for="time">Prep Time</label>
        <select name="time" class="form-control form-control" id="time">
        <option>30 Minutes</option>
        <option>30-60 Minutes</option>
        <option>60-90 Minutes</option>
        <option>90+ Minutes</option>
        </select> 
      </div>
  </div>
  <br>


  <div class="form-row justify-content-center">
    <div class="form-group col-md-4">     
      <div class="input-group mb-3 ">
      <input name="addIngredients" type="text" class="form-control" placeholder="Add Ingredients" 
              aria-label="addIngredients" aria-describedby="button-addon2" id="add-Ingredients">
      <div class="input-group-append">
        <button style="background-color: #ffda08;"class="btn btn-outline-secondary" type="button" id="add-Ingredientsbtn">Add </button>
      </div>
      </div>

        <input type="hidden" name="ingredients" id="ingredients-Db">   
      </input>
    </div>
  </div>

  <div class="form-row justify-content-center">
    <div class="form-group col-md-4"> 
      <ul class="list-group" id="ingredientsList">
      </ul>
    </div>
  </div>
  <br>
  
  <div class="form-row justify-content-center">
    <div class="form-group col-md-4"> 
      <div class="input-group mb-3">
        <div class="custom-file">
          <input name="imageUrl" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label " for="inputGroupFile01">Upload Image</label>
        </div>
      </div>
    </div>
  </div>

    <br>
  
    <div class="form-row justify-content-center">
      <button class="btn  col-md-4 shadow-lg p-2 mb-9 rounded" type="submit" style="background-color: #ffda08;">Add Recipe</button>
    </div>

</form>