body {
  padding: 50px;
  font-family: 'Playfair Display SC', serif;}
nav {
  font-family: 'Permanent Marker', cursive;
}

a {
  color: #00B7FF; }

#edit-form {
  background-size: cover;
}

.card-img-top {
  /*height: 11vw;*/
  object-fit: cover;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .card-img-top {
      height: 19vw;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-img-top {
      height: 16vw;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-img-top {
      height: 20vw;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
  .card-img-top {
      height: 20vw;
  }
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}


.animate
{
	transition: all 0.1s;
  -webkit-transition: all 0.1s;
  text-decoration: none;
}

.action-button
{
	/* position: inherit; */
	padding: 8px 15px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 10px;
	font-size: 10px;
	color:black;
	text-decoration: none;	
}

.yellow
{
	background-color: #ffda08;
	border-bottom: 5px solid #cfbf60;
  text-shadow: 0px -2px #ffda08;
  text-decoration: none;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
  text-decoration: none;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}


.button-like {
  border: 2px solid #8a8a8a;
  background-color: transparent;
  text-decoration: none;
  padding: 0.3rem;
  position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 3rem;
  color: #8a8a8a;
  transition: all ease 0.4s;
}

.button-like span {
  margin-left: 0.3rem;
}

.button-like .fa,
.button-like span {
  transition: all ease 0.4s;
}

.button-like:focus {
  background-color: transparent;
}

.button-like:focus .fa,
.button-like:focus span {
  color: #8a8a8a;
}

.button-like:hover {
  border-color: #ffda08;
  background-color: transparent;
}

.button-like:hover .fa,
.button-like:hover span {
  color: #ffda08;
}

.liked {
  background-color: #ffda08;
  border-color: #ffda08;
}

.liked .fa,
.liked span {
  color: #fefefe;
}

.liked:focus {
  background-color: #ffda08;
}

.liked:focus .fa,
.liked:focus span {
  color: #fefefe;
}

.liked:hover {
  background-color: #ffda08;
  border-color: #ffda08;
}

.liked:hover .fa,
.liked:hover span {
  color: #fefefe;
}
.recipe-list {
  list-style: none;
}

.signup {
  margin-top: 20px;
}

.login {
  margin-top: 20px;
}